
* {box-sizing: border-box; margin: 0;}
header {height: 100px;}
.main {display: flex;}
section {
    width: 80%; border: 2px solid black;
    margin-left: auto; margin-right: auto;
}
.img_box {
    width: 100%; padding-left: 5%; padding-right: 5%;
}
.comment {
    width: 100%;
}

input {width: 100%;}

.comment_box {
    width: 100%; border: 1px solid gray;
}
.user img {border-radius: 50%; width: 30px; height: 30px;}